<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="screenWidth> 1000" >
    <mat-list style="
      margin-top: 11px !important;"
    >
      <ul style="padding: 4px; font-family: Bahnschrift; margin-top:0px !important; list-style: none;">
        <li>
          <strong> Requests </strong>
        </li>
        <li *ngFor="let request of requests" style="padding: 5px;">
          <label>{{request.username}}</label>
          <br/> <button type="button" mat-stroked-button (click)="acceptRequest(request.usersrid)">Accept</button>
        </li>
        <li *ngIf="requests.length < 1" style="padding: 5px; color: gray;">
          No Requests
        </li>
        <br/>
        <li>
          <strong> Joined Events </strong>
        </li>
        <li *ngFor="let friend of friends" style="padding: 5px;">
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/user', friend.usersrid]">{{ friend.username}}</a>
        </li>
        <li *ngIf="friends.length<1" style="padding: 5px; color: gray;">
          No friends
        </li>

      </ul>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="example-card" >
      <mat-card-header >
        <ul style="list-style: none; display: flex;">
          <li>
            <img
              class="example-header-image"
              [src]="profileimg" >
            <!--<img-->

            <!--class="example-header-image"-->
            <!--src="data:image/jpeg;base64,{{profileimg}}" >-->
          </li>
          <li>
            <mat-card-title>Hello {{username}}</mat-card-title>
            <mat-card-subtitle>Having a Good Day?</mat-card-subtitle>
          </li>
        </ul>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
      <mat-list style="list-style: none;">
        <mat-list-item *ngFor="let profile of profiles; index as i">
          <strong style="white-space: pre;">{{profile.main}}</strong>

          <p style="margin-bottom: 0px !important;">
            {{profile.value}}
          </p>
          <!--<mat-divider *ngIf="profile.main != 'REG NO:                      '"></mat-divider>-->
          <mat-divider *ngIf="i < 3"></mat-divider>
        </mat-list-item>

      </mat-list>

    </mat-card>
    <br/>
<mat-card class="example-card">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" (submit)="onEdit()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="username"
        placeholder="New Username"
      >
      <mat-error *ngIf="form.get('username').invalid">Please enter a username.</mat-error>
    </mat-form-field>

    <!--<mat-form-field>-->
      <!--<input-->
        <!--matInput-->
        <!--type="password"-->
        <!--formControlName="currentpassword"-->
        <!--placeholder="Current password"-->
      <!--&gt;-->
      <!--<mat-error *ngIf="form.get('currentpassword').invalid">Please enter current password.</mat-error>-->
    <!--</mat-form-field>-->

    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="New password"
      >
      <mat-error *ngIf="form.get('password').invalid">Please enter a password.</mat-error>
    </mat-form-field>




    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">Edit</button>

  </form>


</mat-card>
  </mat-drawer-content>
  <mat-drawer mode="side" [opened]="screenWidth> 1000" position="end">
    <mat-list style="
      margin-top: 11px !important;"
    >
      <ul style="padding: 4px; font-family: Bahnschrift;">
        <mat-card class="example-card">
          <strong> <mat-icon>alarm</mat-icon> Notifcations</strong>
        </mat-card>
        <mat-card class="example-card"*ngFor="let notification of notifications">
          <mat-card-header >
            <ul style="list-style: none; display: flex;">
              <li>
                <img *ngIf="notification.senderimage"
                     class="example-header-image-post"
                     [src]="notification.senderimage" style="margin-right: 10px;" >
              </li>
              <li>
                <ul  style="list-style: none;">
                  <li>
                    {{notification.message}}
                  </li>
                  <li>
                    <mat-card-subtitle>{{TimeFromNow(notification.created)}}</mat-card-subtitle>
                  </li>
                </ul>

              </li>
            </ul>
            <!--<ul style="list-style: none;">-->
            <!--<li>-->
            <!--<ul style="list-style: none; display: flex;">-->
            <!--<li>-->
            <!--<img *ngIf="notification.senderimage"-->
            <!--class="example-header-image-post"-->
            <!--[src]="notification.senderimage">-->
            <!--</li>-->
            <!--<li>-->
            <!--{{notification.message}}-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->

            <!--<mat-card-subtitle>{{TimeFromNow(notification.created)}}</mat-card-subtitle>-->
            <!--</li>-->
            <!--</ul>-->
          </mat-card-header>
        </mat-card>


      </ul>

    </mat-list>
  </mat-drawer>
</mat-drawer-container>
