.example-container {
  width: 100%;
}
mat-drawer {
  /*background-color: lightblue;*/
  /*border: 1px solid #555;*/
  padding: 10px;
  padding-left: 20px;
  width: 20%;
  position: absolute;
}

mat-drawer-content{
 margin: auto !important;
  width: 50%;
  height: 850px;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner{
  margin:auto;
}
.example-header-image {
  background-size: cover;
}
.example-card {
  max-width: 100% !important;
  margin: 4px;
}
.example-header-image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
}
