<mat-toolbar color="primary">
  <!--<ul>-->
    <!--<li ><img-->
      <!--class="example-header-image-post"-->
      <!--[src]="'https://res.cloudinary.com/da6znvkjz/image/upload/v1555697890/ComsatsSocial/logo_ayv0eq.jpg'"-->
      <!--style="-->
         <!--margin-right: 30px;-->
    <!--width: 100px;-->
    <!--height: 64px;" ></li>-->
  <!--</ul>-->
  <ul>
    <li *ngIf="userIsAuthenticated">

    <a mat-button routerLink="/messages" routerLinkActive="mat-accent">Home</a>

    </li>
    <li *ngIf="userIsAuthenticated">

    <a  mat-button routerLink="/grouplist" routerLinkActive="mat-accent">Groups</a>


    </li>
    <li *ngIf="userIsAuthenticated" style="margin-right: 50px;">

    <a  mat-button routerLink="/eventlist" routerLinkActive="mat-accent">Events</a>


    </li>

    <li *ngIf="userIsAuthenticated" style="width:400px;" >
      <section style="color: black; position: absolute !important;

        /*top: -100px !important;*/
         z-index: 10;" >
        <div >
          <input style=" color: black !important; background: white; width: 300px;" matInput [formControl]="queryField" type="text" placeholder="search..." />
        </div>
        <ul style=" display: block;
background: white;">
        <li *ngFor="let result of results; index as i"  (click)="queryField.setValue('')" >
          <a style="text-decoration: none; color: black ; padding: 8px; margin-bottom: 5px; margin-top:3px;" [routerLink]="['/user', result._id]" >{{ result.username}}</a>
          <mat-divider *ngIf="i < results.length - 1"></mat-divider>
        </li>
        <!--<span class="tags" *ngFor='let genre of result?.genres | slice:0:6'>{{genre}}</span>-->
        </ul>

      </section>

    </li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <!--<li *ngIf="userIsAuthenticated">-->
      <!--<a routerLink="/messages">{{username}}</a>-->
    <!--</li>-->
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/archives">Archives</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">

      <button mat-button [matMenuTriggerFor]="appMenu">Options</button>
      <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item [matMenuTriggerFor]="createmenu">Create</button>
        <button mat-menu-item [routerLink]="['/profile']">Profile</button>

        <button mat-menu-item [routerLink]="['/recommendations']">Recommendations</button>
        <button mat-menu-item (click)="onLogout()" >Logout</button>
      </mat-menu>

      <mat-menu #createmenu="matMenu">
        <button mat-menu-item [routerLink]="['/groupcreate']" >Group</button>
        <button mat-menu-item [routerLink]="['/eventcreate']">Event</button>
      </mat-menu>

    </li>

  </ul>
</mat-toolbar>
