<mat-toolbar color="primary">
  <ul>
    <li *ngIf="userIsAuthenticated">

    <a mat-button routerLink="/messages" routerLinkActive="mat-accent">Home</a>

    </li>
    <li *ngIf="userIsAuthenticated">

    <a  mat-button routerLink="/grouplist" routerLinkActive="mat-accent">Groups</a>


    </li>
    <li *ngIf="userIsAuthenticated">

    <a  mat-button routerLink="/eventlist" routerLinkActive="mat-accent">Events</a>


    </li>
    <li *ngIf="userIsAuthenticated" >
      <section style="color: black;" style="position: absolute !important;

        /*top: -100px !important;*/
         z-index: 10;" >
        <div >
          <input style=" color: black !important; background: white;" matInput [formControl]="queryField" type="text" placeholder="search..." />
        </div>
        <ul style=" display: block;
background: white;">
        <li *ngFor="let result of results" >
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/user', result._id]">{{ result.username}}</a>
        </li>
        <!--<span class="tags" *ngFor='let genre of result?.genres | slice:0:6'>{{genre}}</span>-->
        </ul>
        <!--<div >-->
          <!--<input matInput [formControl]="queryField" type="text" placeholder="search..."  [matMenuTriggerFor]="createsearch" autofocus/>-->
        <!--</div>-->
        <!--<mat-menu #createsearch="matMenu">-->
          <!--<button mat-menu-item *ngFor="let result of results" >-->
            <!--<a style="text-decoration: none; color: grey ;" [routerLink]="['/user', result._id]">{{ result.username}}</a>-->
            <!--{{result.username}} {{result._id}}-->
          <!--</button>-->
        <!--</mat-menu>-->
        <!--<ul style="display: block !important;" >-->
          <!--<li *ngFor="let result of results" >-->
                         <!--{{result.username}}-->
            <!--</li>-->
            <!--&lt;!&ndash;<span class="tags" *ngFor='let genre of result?.genres | slice:0:6'>{{genre}}</span>&ndash;&gt;-->
        <!--</ul>-->
      </section>
      <!--<section class="filter-wrapper">-->
        <!--<div class="keyword-wrapper">-->
          <!--<input [formControl]="queryField" type="text" id="keyword" placeholder="search for artists..." autofocus/>-->
        <!--</div>-->
        <!--<ul class="filter-select" style="display: block !important;">-->
          <!--<li *ngFor="let result of results" class="filter-select-list">-->
            <!--&lt;!&ndash;<img src="{{result.images['2']?.url}}" alt="" width="50" height="50">&ndash;&gt;-->
            <!--<p class="artist-name">-->
            <!--{{result.username}}</p>-->
            <!--&lt;!&ndash;<span class="tags" *ngFor='let genre of result?.genres | slice:0:6'>{{genre}}</span>&ndash;&gt;-->
        <!--</ul>-->
      <!--</section>-->
    </li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <!--<li *ngIf="userIsAuthenticated">-->
      <!--<a routerLink="/messages">{{username}}</a>-->
    <!--</li>-->
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/archives">Archives</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">

      <button mat-button [matMenuTriggerFor]="appMenu">Options</button>
      <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item [matMenuTriggerFor]="createmenu">Create</button>
        <button mat-menu-item [routerLink]="['/profile']">Profile</button>

        <button mat-menu-item>Help</button>
        <button mat-menu-item (click)="onLogout()" >Logout</button>
      </mat-menu>

      <mat-menu #createmenu="matMenu">
        <button mat-menu-item [routerLink]="['/groupcreate']" >Group</button>
        <button mat-menu-item [routerLink]="['/eventcreate']">Event</button>
      </mat-menu>

    </li>

  </ul>
</mat-toolbar>
