<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header>
      <strong>{{event.eventname}}</strong>
      <br/>
      <br/>
      {{ event.username }}
    </mat-expansion-panel-header>
    <p>{{ event.description }}</p>
    <strong>Date: </strong>{{ event.eventdate | date:'MMM dd, yyyy' }}
    <!--&lt;!&ndash;<div class="post-image">&ndash;&gt;-->
    <!--&lt;!&ndash;<img [src]="post.imagePath" [alt]="post.title">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<strong>Date: </strong>{{ post.createdAt | date:'MMM dd, yyyy' }}&ndash;&gt;-->
    <!--&lt;!&ndash;<p>{{ post.content }}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-icon-button  (click)="likePost(post.id)" >&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon >thumb_up</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;{{ post.likes }}&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->




    <!--&lt;!&ndash;<button mat-icon-button (click)="dislikePost(post.id)" >&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon >thumb_down</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;{{ post.dislikes }}&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->

    <!--&lt;!&ndash;<br/>&ndash;&gt;-->

    <!--<mat-accordion class="example-headers-align" >-->
    <!--<mat-expansion-panel  [class.mat-expansion-panel]="false" hideToggle>-->
    <!--<mat-expansion-panel-header>-->
    <!--<mat-panel-title>-->

    <!--<mat-icon >comment</mat-icon>-->
    <!--{{ post.commentsNo }}-->

    <!--</mat-panel-title>-->

    <!--</mat-expansion-panel-header>-->

    <!--<ul class="commentspanel">-->
    <!--<li >-->
    <!--<mat-form-field style="width:700px; !important; " >-->
    <!--<input  matInput-->
    <!--placeholder="Add a Comment"-->
    <!--ngModel-->
    <!--#commentInput="ngModel"-->
    <!--required-->
    <!--comment>-->
    <!--<mat-error *ngIf="commentInput.invalid">Please enter a comment.</mat-error>-->

    <!--</mat-form-field>-->
    <!--</li>-->
    <!--<li>-->
    <!--<button (click)="addComment(post.id,commentInput.value)">-->
    <!--<mat-icon >send</mat-icon>-->
    <!--</button>-->
    <!--</li>-->
    <!--</ul>-->

    <!--<mat-card class="example-card" *ngFor="let comment of post.comments">-->
    <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title style="font-weight: bold">{{comment.commentator}}</mat-card-title>-->

    <!--</mat-card-header>-->

    <!--<mat-card-content>-->
    <!--<p>-->
    <!--{{comment.comment}}-->
    <!--</p>-->
    <!--</mat-card-content>-->

    <!--</mat-card>-->








    <a mat-button color="primary" [routerLink]="['/eventpage', event.id]">Open</a>

    <mat-action-row *ngIf=" userId == event.creator">
    <button mat-button color="warn" (click)="onDelete(event.id)">DELETE</button>
    </mat-action-row>
    <mat-action-row *ngIf=" userId != event.creator">
      <button mat-button color="warn" (click)="onJoin(event.id)">JOIN</button>
    </mat-action-row>
    <!--<mat-action-row *ngIf="userIsAuthenticated && userId == group.groupcreator">-->

    <!--<a mat-button color="primary" [routerLink]="['/edit', groupt.id]">EDIT</a>-->
    <!--<button mat-button color="warn" (click)="onDelete(group.id)">DELETE</button>-->
    <!--</mat-action-row>-->
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="events.length > 0"></mat-paginator>

<p class="info-text mat-body-1" *ngIf="events.length <= 0 && !isLoading">No events added yet!</p>
