<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="screenWidth> 1000">
    <mat-list style="padding-top: 0px">
      <ul style="list-style:none; padding: 4px; font-family: Bahnschrift; margin-top: 19px; !important;">
        <li>
        <strong> Joined Groups </strong>
        </li>
        <li *ngFor="let groupj of groupsjoined" style="padding: 5px;">
        <a style="text-decoration: none;" [routerLink]="['/grouppage', groupj.id]">{{ groupj.groupname}}</a>
        </li>
        <li *ngIf="groupsjoined.length < 1" style="padding: 5px; color: gray;">
        Following No Groups
        </li>


      </ul>

    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
<mat-spinner *ngIf="isLoading"></mat-spinner>

    <mat-card class="example-card" *ngFor="let event of events">
      <mat-card-header>
        <ul style="list-style: none; display: flex;">

          <li>
            <mat-card-title ><a style="text-decoration: none; color: black;" [routerLink]="['/user', event.creator]"><strong>{{event.username}}</strong></a></mat-card-title>

            <mat-card-subtitle>
              {{ event.eventname }}

            </mat-card-subtitle>
          </li>
        </ul>
      </mat-card-header>
      <br/>

      <mat-card-content>
        <p>{{ event.description }}</p>
        <strong>Date: </strong>{{ event.eventdate | date:'MMM dd, yyyy' }}
      </mat-card-content>



      <a mat-button color="primary" [routerLink]="['/eventpage', event.id]">Open</a>

      <mat-action-row *ngIf=" userId == event.creator">
        <!--<button mat-button color="warn" (click)="onDelete(event.id)">DELETE</button>-->
      </mat-action-row>
      <mat-action-row *ngIf=" userId != event.creator && !event.eventmembersid.includes(userId)">
        <button mat-button color="warn" (click)="onJoin(event.id)">JOIN</button>
      </mat-action-row>
      <!--<mat-action-row *ngIf="userIsAuthenticated && userId == group.groupcreator">-->

      <!--<a mat-button color="primary" [routerLink]="['/edit', groupt.id]">EDIT</a>-->
      <!--<button mat-button color="warn" (click)="onDelete(group.id)">DELETE</button>-->
      <!--</mat-action-row>-->


    </mat-card>

<mat-paginator style="background-color: #FAFAFA" [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="events.length > 0"></mat-paginator>

<p class="info-text mat-body-1" *ngIf="events.length <= 0 && !isLoading">No events added yet!</p>
  </mat-drawer-content>
</mat-drawer-container>
