.example-container {
  width: 100%;
}
mat-drawer {
  /*background-color: lightblue;*/
  /*border: 1px solid #555;*/
  padding: 10px;
  padding-left: 20px;
  width: 20%;
}

mat-drawer-content{
  margin: auto !important;
  width: 50% !important;
  height: 860px;
}
.example-card {
  max-width: 100% !important;
  margin: 4px;
}


/*:host {*/
/*display: block;*/
/*margin-top: 1rem;*/
/*}*/

.info-text {
  text-align: center;
}

mat-spinner{
  margin:auto;
}


mat-paginator{
  margin-top:1rem;
}

mat-expansion-panel-header{
  padding: 1%;
}

::ng-deep .mat-input-wrapper{
  width:400px !important;
}
