<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list style="padding-top: 0px">
      <ul style="list-style:none; padding: 4px; font-family: Bahnschrift; margin-top: 19px; !important;">
        <li>
        <strong> Joined Groups </strong>
        </li>
        <li *ngFor="let groupj of groupsjoined" style="padding: 5px;">
        <a style="text-decoration: none; color: grey ;" [routerLink]="['/grouppage', groupj.id]">{{ groupj.groupname}}</a>
        </li>
        <li *ngIf="groupsjoined.length < 1" style="padding: 5px; color: gray;">
        Following No Groups
        </li>


      </ul>

    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="events.length > 0 && !isLoading">
  <mat-expansion-panel style="margin-left: 5px; margin-right: 60px;" *ngFor="let event of events">
    <mat-expansion-panel-header>
      <strong>{{event.eventname}}</strong>
      <br/>
      <br/>
      {{ event.username }}
    </mat-expansion-panel-header>
    <p>{{ event.description }}</p>
    <strong>Event Date: </strong>{{ event.eventdate | date:'MMM dd, yyyy' }}



    <a mat-button color="primary" *ngIf="event.eventmembersid.includes(userId)" [routerLink]="['/eventpage', event.id]">Open</a>

    <mat-action-row *ngIf=" userId == event.creator">
    <!--<button mat-button color="warn" (click)="onDelete(event.id)">DELETE</button>-->
    </mat-action-row>
    <mat-action-row *ngIf=" userId != event.creator && !event.eventmembersid.includes(userId)">
      <button mat-button color="warn" (click)="onJoin(event.id)">JOIN</button>
    </mat-action-row>
    <!--<mat-action-row *ngIf="userIsAuthenticated && userId == group.groupcreator">-->

    <!--<a mat-button color="primary" [routerLink]="['/edit', groupt.id]">EDIT</a>-->
    <!--<button mat-button color="warn" (click)="onDelete(group.id)">DELETE</button>-->
    <!--</mat-action-row>-->
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator style="background-color: #FAFAFA" [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="events.length > 0"></mat-paginator>

<p class="info-text mat-body-1" *ngIf="events.length <= 0 && !isLoading">No events added yet!</p>
  </mat-drawer-content>
</mat-drawer-container>
