<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="screenWidth> 1000">
    <mat-list style="
      margin-top: 11px !important;">
      <ul style="list-style:none; padding: 4px; font-family: Bahnschrift; margin-top: 0px; !important;">
        <li>
          <strong> Joined Groups </strong>
        </li>
        <li *ngFor="let group of groups" style="padding: 5px; ">
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/grouppage', group.id]">{{ group.groupname}}</a>
        </li>
        <li *ngIf="groups.length < 1" style="padding: 5px; color: gray;">
          Following No Groups
        </li>
        <br/>
        <li>
          <strong> Joined Events </strong>
        </li>
        <li *ngFor="let event of events" style="padding: 5px;">
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/eventpage', event.id]">{{ event.eventname}}</a>
        </li>
        <li *ngIf="events.length<1" style="padding: 5px; color: gray;">
          No events joined
        </li>

      </ul>

    </mat-list>
  </mat-drawer>

  <mat-drawer-content>

<mat-card id="container" class="example-card">
  <mat-card-header>
    <ul style="list-style: none; display: flex;">
      <li>
        <img class="example-header-image"
             [src]="profileimg" >
      </li>
      <li>
        <mat-card-title>Hello {{username}}</mat-card-title>
        <mat-card-subtitle>Having a Good Day</mat-card-subtitle>
      </li>
    </ul>
  </mat-card-header>
</mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card class="example-card" *ngFor="let post of posts">
  <mat-card-header>
    <ul style="list-style: none; display: flex;">
      <li>
        <img [hidden]="!post.profileimg"
             class="example-header-image-post"
             [src]="post.profileimg" style="margin-right: 30px;" >
      </li>
      <li>
        <mat-card-title><strong>{{post.username}}</strong></mat-card-title>


        <mat-card-subtitle>
          {{ post.title }}

        </mat-card-subtitle>
      </li>
    </ul>
  </mat-card-header>
  <!--<div class="post-image">-->
  <img mat-card-image [hidden]="!post.imagePath" [src]="post.imagePath" [alt]="post.title">
  <!--</div>-->

  <mat-card-content>
    <p>{{ post.content }}</p>
    <strong>Date: </strong>{{ post.createdAt | date:'MMM dd, yyyy' }}
  </mat-card-content>

  <button mat-icon-button  (click)="likePost(post.id,post)" >
    <mat-icon *ngIf="post.likedBy.includes(userId)" color="primary" >thumb_up</mat-icon>
    <mat-icon *ngIf="!post.likedBy.includes(userId)"  >thumb_up</mat-icon>
    {{post.likes}}
  </button>




  <button mat-icon-button (click)="dislikePost(post.id)" >
    <mat-icon *ngIf="post.dislikedBy.includes(userId)" color="primary" >thumb_down</mat-icon>
    <mat-icon *ngIf="!post.dislikedBy.includes(userId)"  >thumb_down</mat-icon>
    {{ post.dislikes }}
  </button>

  <br/>

  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel  [class.mat-expansion-panel]="false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

          <mat-icon >comment</mat-icon>
          {{ post.commentsNo }}

        </mat-panel-title>

      </mat-expansion-panel-header>

      <ul class="commentspanel">
        <form (submit)="addComment(post, commentForm)" #commentForm="ngForm" >
          <li >
            <mat-form-field style="width:700px; !important; " >
              <input  matInput
                      type="text"
                      placeholder="Add a Comment"
                      ngModel
                      #commentInput="ngModel"
                      required
                      name="comment"
                      comment>
              <!--matInput-->
              <!--type="text"-->
              <!--placeholder="new name"-->
              <!--ngModel-->
              <!--#groupnameInput="ngModel"-->
              <!--required-->
              <!--name="groupname"-->
              <!--groupname-->
              <mat-error *ngIf="commentInput.invalid">Please enter a comment.</mat-error>

            </mat-form-field>
          </li>
          <li>
            <button mat-raised-button color="primary"
                    mat-raised-button
                    type="submit">
              <mat-icon >send</mat-icon>
            </button>
          </li>
        </form>
      </ul>

      <mat-list style="list-style: none;">
        <mat-list-item *ngFor="let comment of post.comments" style="margin:0;">
          <strong>{{comment.commentator}}: &nbsp; </strong>

          <p style="margin-bottom: 0px !important;">
            {{comment.comment}}
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>







    </mat-expansion-panel>






  </mat-accordion>


  <mat-card-actions *ngIf="userIsAuthenticated">
    <button mat-button  color="warn" (click)="onDelete(post.id)">REMOVE</button>
    <!--<a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>-->

  </mat-card-actions>
</mat-card>

<mat-paginator style="background-color: #FAFAFA;" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="posts.length > 0"></mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts archived yet!</p>
  </mat-drawer-content>
  <mat-drawer mode="side" [opened]="screenWidth> 1000" position="end">
    <mat-list style="
      margin-top: 0px !important;"
    >
      <ul style="list-style:none; padding: 4px; font-family: Bahnschrift;">
        <li>
          <strong> Friends </strong>
        </li>
        <li *ngFor="let friend of friends" style="padding: 5px;">
          <strong>  {{friend}} </strong>
        </li>


      </ul>

    </mat-list>
  </mat-drawer>

</mat-drawer-container>
