<!--<textarea rows="4" cols="50"  style="width:500px ;height:500px  " [(ngModel)]="targetpeer"></textarea>-->
<!--<textarea id="key"> </textarea>-->
<!--&lt;!&ndash; <input type="text" [(ngModel)]="enteredTitle"> &ndash;&gt;-->
<!--<button (click)="connect()">Connect</button>-->
<!--<button (click)="message()">Send Message</button>-->
<!--<video #myvideo></video>-->







<!-- <textarea rows="4" cols="50"  style="width:500px ;height:500px  " [(ngModel)]="targetpeer"></textarea>
<textarea id="key" style="width:500px ;height:500px"  > </textarea>
<!-- <input type="text" [(ngModel)]="enteredTitle"> -->
<!-- <button (click)="connect()">Connect</button> -->
<!-- <button (click)="message()">Send Message</button> -->
<!-- <video #myvideo></video> -->


<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<p><b>Follow the steps if you are initiating the call:</b></p><br/>
<p>Step 1: If your iniate the video call, send the token with the label "type":"offer" to your video buddy</p>
<p>Step 2: Enter the token received as answer with the label "type":"answer" and press the 'Connect' button</p>
<p>Step 3:Press the Connect button</p>
<textarea id="key"   > </textarea>
<br/>
<p><b>Follow the steps if you receiving the call:</b></p><br/>
<p>Step 1: If your receivng the video call, copy the token with the label "type":"offer" and past it in the text box </p>
<p>Step 2: Press the Connect button</p>
<p>Step 3: After receing the token with the label "type":"answer", send it to your video buddy</p>
<textarea [(ngModel)]="targetpeer" placeholder="Place the Offer token here.."></textarea>
<br/>
<br/>

<!-- <input type="text" [(ngModel)]="enteredTitle"> -->
<button  (click)="connect()">Connect</button>
<!-- <button (click)="message()">Send Message</button> -->
<br/>
<video width="800" height="800" #myvideo></video>


</body>
</html>

