<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="nform"  *ngIf="!isLoading">
    <div>
      <button mat-stroked-button type="button" (click)="filepicker.click()" >Add Image</button>
      <input type="file" #filepicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && nform.get('image').valid">
      <img [src]="imagePreview" [alt]="nform.value.title">
    </div>
  </form>

  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Username"
        name="uname"
        ngModel
        #unameInput="ngModel"
        required

      >
      <mat-error *ngIf="unameInput.invalid">Please enter a username.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Registration Number"
        name="regno"
        ngModel
        #regnoInput="ngModel"
        required

      >
      <mat-error *ngIf="regnoInput.invalid">Please enter your registration number.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Department" name="dname"
                  ngModel
                  name = "dname"
                  #dnameInput="ngModel"  required>
        <!--<mat-option>&#45;&#45;</mat-option>-->
        <mat-option *ngFor="let department of departments" [value]="department" >
          {{department}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="dnameInput.invalid">Please choose a department</mat-error>
      <!--<mat-hint>{{depControl.value?.sound}}</mat-hint>-->
    </mat-form-field>


    <!--<mat-form-field>-->
      <!--<input-->
        <!--matInput-->
        <!--type="text"-->
        <!--placeholder="Department"-->
        <!--name="dname"-->
        <!--ngModel-->
        <!--#dnameInput="ngModel"-->
        <!--required-->

      <!--&gt;-->
      <!--<mat-error *ngIf="dnameInput.invalid">Please enter a Department.</mat-error>-->
    <!--</mat-form-field>-->

    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="COMSATS Provided E-mail"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
      >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <!--<mat-form-field>-->
     <!--<input-->
     <!--type="password"-->
     <!--matInput-->
     <!--placeholder="Password"-->
     <!--name="password"-->
     <!--ngModel-->
     <!--#passwordInput="ngModel"-->
     <!--required-->

     <!--&gt;-->
      <!--<mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>-->
    <!--</mat-form-field>-->
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">Signup</button>

  </form>
</mat-card>
