<div class="row">
  <div class="col s12">
    <div class="row">
      <mat-card style="width: 100%;">
        <div  style="background: #64b5f6 !important;">
<div class="col s12 imgCol" style="color: black !important; font-size: 20px;">
  <span>{{receivername}}</span>
  <!--<br/>-->
  <!--<button mat-button [routerLink]="['/videochatstart']"><mat-icon>video_call</mat-icon></button>-->
  <!--<br/>-->
  <!--<a mat-button [routerLink]="['/videochat']">accept call</a>-->
</div>
          <div class="row">
            <div class="col s10 nameCol" style="color: black !important;">
              <span>{{receivername}}</span>
            </div>
          </div>
        </div>
        <mat-card-content >
          <div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes>
            <div class="row">
              <div class="col s12">
                <div class="message-wrapper" *ngFor="let message of messagesArray">
                  <div class="left" *ngIf="message.senderId != userId">
                    <div class="chat-bubble left slide-left">
                      <div class="message"> {{message.body}}</div>

                    </div>
                    <div class="clearfloat"></div>

                  </div>
                  <div class="right" *ngIf="message.senderId == userId">
                    <div class="chat-bubble right slide-right">
                      <div class="message"> {{message.body}} </div>

                    </div>

                  </div>
                  <div class="clearfloat"></div>
                  <!--<div class="card-footer" style=""></div>-->
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </div>
                <div class="left" *ngIf="typing">
                  <div class="chat-bubble left slide-left">
                    <div class="message"> is typing...</div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col s12" style="margin: 0px;">
            <div class="row">
              <mat-card style="height: 90px; width: 100% !important;">
                <mat-card-content>
                <div class="inputRow">
                  <form (ngSubmit)="SendMessage()">
                    <div class="input-field inputField col s12" >
<textarea name="message"
          [(ngModel)]="message"
          (keypress)="IsTyping()"
          class="inputBox"
style=" height: 30px !important;
    margin-bottom: 5px !important;
    width: 100% !important;
color: black !important;">

</textarea>
                    </div>
                    <div class="input-field col s12">
                      <button mat-button><mat-icon>send</mat-icon></button>
                    </div>
                  </form>
                </div>
                </mat-card-content>
              </mat-card>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>

