<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <ul>
        <li *ngIf="isadminauthenticated">
          <button mat-button  routerLinkActive="mat-accent">Posts</button>
        </li>
        <li *ngIf="isadminauthenticated">
          <button mat-button (click)="onUser()" routerLinkActive="mat-accent">Users</button>
        </li>
        <li *ngIf="isadminauthenticated">
          <button mat-button (click)="onGroup()" routerLinkActive="mat-accent">Groups</button>
        </li>
        <li *ngIf="isadminauthenticated">
          <a mat-button routerLink="/eventsadmin" routerLinkActive="mat-accent">Events</a>
        </li>
        <li>
          <button mat-stroked-button color="warn">Logout</button>
        </li>
      </ul>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
   <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
