<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <ul>

      <li *ngIf="isadminauthenticated">
        <button mat-button (click)="onUser()" [ngClass]="{
            'positive' : showuser,
            'negative' : !showuser
         }">Users</button>
      </li>
        <li *ngIf="isadminauthenticated">
          <button mat-button (click)="onPosts()" [ngClass]="{
            'positive' : showposts,
            'negative' : !showposts
         }">Posts</button>
        </li>
      <li *ngIf="isadminauthenticated">
        <button mat-button (click)="onGroups()" routerLinkActive="mat-accent"[ngClass]="{
            'positive' : showgroups,
            'negative' : !showgroups
         }"
        >Groups</button>
      </li>
      <li *ngIf="isadminauthenticated">
        <button mat-button (click)="onEvents()" [ngClass]="{
            'positive' : showevents,
            'negative' : !showevents
         }">Events</button>
      </li>
     <li>
       <button mat-button color="warn">Logout</button>
     </li>
      </ul>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-admin-users *ngIf="showuser"></app-admin-users>
    <app-admin-group *ngIf="showgroups"></app-admin-group>
    <app-admin-event *ngIf="showevents"></app-admin-event>
  </mat-drawer-content>
</mat-drawer-container>
