<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list style="
      margin-top: 11px !important;"
    >
      <ul style="padding: 4px; font-family: Bahnschrift;">
        <li>
          <strong> Joined Groups </strong>
        </li>
        <li *ngFor="let group of groups" style="padding: 5px;">
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/grouppage', group.id]">{{ group.groupname}}</a>
        </li>
        <li *ngIf="groups.length < 1" style="padding: 5px; color: gray;">
          Following No Groups
        </li>
        <br/>
        <li>
          <strong> Joined Events </strong>
        </li>
        <li *ngFor="let event of events" style="padding: 5px;">
          <a style="text-decoration: none; color: grey ;" [routerLink]="['/eventpage', event.id]">{{ event.eventname}}</a>
        </li>
        <li *ngIf="events.length<1" style="padding: 5px; color: gray;">
          No events joined
        </li>

      </ul>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>


<mat-card class="example-card">
  <mat-card-header>
    <ul style="list-style: none; display: flex;">
      <li>
        <img

          class="example-header-image"
             [src]="profileimg" >
      </li>
      <li>
        <mat-card-title>Hello {{username}}</mat-card-title>
        <mat-card-subtitle>Having a Good Day</mat-card-subtitle>
      </li>
    </ul>
  </mat-card-header>
</mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="example-card" *ngFor="let post of posts">
  <mat-card-header>
    <ul style="list-style: none; display: flex;">
      <li>
        <img

          class="example-header-image-post"
             [src]="post.profileimg" style="margin-right: 30px;" >
      </li>
      <li>
        <mat-card-title><strong>{{post.username}}</strong></mat-card-title>


        <mat-card-subtitle>
          {{ post.title }}

        </mat-card-subtitle>
      </li>
    </ul>
  </mat-card-header>
  <br/>
  <!--<div class="post-image">-->
  <img [hidden]="!post.imagePath" [src]="post.imagePath" [alt]="post.title" mat-card-image>
  <!--</div>-->
  <!--[src]="post.imagePath" [alt]="post.title"-->
  <mat-card-content>
    <p>{{ post.content }}</p>
    <strong>Date: </strong>{{ post.createdAt | date:'MMM dd, yyyy' }}
  </mat-card-content>

  <button mat-icon-button  (click)="likePost(post.id,post)" >
    <mat-icon *ngIf="post.likedBy.includes(userId)" color="primary" >thumb_up</mat-icon>
    <mat-icon *ngIf="!post.likedBy.includes(userId)"  >thumb_up</mat-icon>
    {{ post.likes }}
  </button>




  <button mat-icon-button (click)="dislikePost(post.id)" >
    <mat-icon *ngIf="post.dislikedBy.includes(userId)" color="primary" >thumb_down</mat-icon>
    <mat-icon *ngIf="!post.dislikedBy.includes(userId)"  >thumb_down</mat-icon>
    {{ post.dislikes }}
  </button>

  <br/>

  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel  [class.mat-expansion-panel]="false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

          <mat-icon >comment</mat-icon>
          {{ post.commentsNo }}

        </mat-panel-title>

      </mat-expansion-panel-header>

      <ul class="commentspanel">
        <li >
          <mat-form-field style="width:700px; !important; " >
            <input  matInput
                    placeholder="Add a Comment"
                    ngModel
                    #commentInput="ngModel"
                    required
                    comment>
            <mat-error *ngIf="commentInput.invalid">Please enter a comment.</mat-error>

          </mat-form-field>
        </li>
        <li>
          <button (click)="addComment(post.id,commentInput.value)">
            <mat-icon >send</mat-icon>
          </button>
        </li>
      </ul>

      <mat-card class="example-card" *ngFor="let comment of post.comments">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-weight: bold">{{comment.commentator}}</mat-card-title>

        </mat-card-header>

        <mat-card-content>
          <p>
            {{comment.comment}}
          </p>
        </mat-card-content>

      </mat-card>







    </mat-expansion-panel>






  </mat-accordion>

  <mat-card-actions *ngIf="userId != post.creator">
    <button mat-button  color="warn" (click)="onArchive(post.id)">SAVE</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="userIsAuthenticated && userId == post.creator">
    <button mat-button  color="warn" (click)="onDelete(post.id)">DELETE</button>
    <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>

  </mat-card-actions>
</mat-card>

<mat-paginator style="background-color: #FAFAFA" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="posts.length > 0"></mat-paginator>

<p  class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
  </mat-drawer-content>
</mat-drawer-container>
